*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: goldenrod;
}


.paginationBtn {
  width: 90%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.paginationBtn a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid rgba(57, 63, 84, 0.8);
  color: black;
  cursor: pointer;
}
.paginationBtn a:hover {
  color: white;
  background-color: rgba(57, 63, 84, 0.8);
}
.button {
  padding: 5px 16px;
  margin: 13px 15px;
  background:rgb(255, 255, 255);
  border: 2px solid rgba(33, 68, 72, 0.59);
 }
.button:hover{
  color: white;
  background-color: rgba(57, 63, 84, 0.8);
 }

.form {
  width:200px;
  padding:8px;
}